<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/public-layout}">
<head>
    <title>Cambio de contraseña</title>
</head>

<body>
<th:block layout:fragment="content">
    <main class="main h-100 w-100">
        <div class="text-center mt-4">
        </div>

        <div class="row" style="margin-top: 200px;">
            <div class="col-lg-12 text-center">
                <h4>[[${mensaje}]]</h4>
            </div>
        </div>
    </main>
</th:block>
<section layout:fragment="js" th:remove="tag">
    <script th:inline="javascript">
        const urlLogin = /*[[@{/user/login}]]*/"";
    </script>
    <script>
        $(function() {
           setTimeout(function() {
               window.location.href = urlLogin;
           }, 5000);
        });
    </script>
</section>
</body>
</html>