<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/public-layout}">
<head>
    <title>Cambio de contraseña</title>
</head>

<body>
<th:block layout:fragment="content">
    <main class="main h-100 w-100">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h2">Restablecer contraseña</h1>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <form id="frmPassword" th:action="@{/public/usuario/password/reset/ejecutar}" method="post">
                                    <div class='text-center mt-4'>
                                       <img th:src="@{/images/logo.png}" class="img-fluid" alt="LOGO" width='150' height="300"/>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-sm-12 text-center">
                                           <div th:if="${error != null && inline == false}" class="alert alert-dismissible alert-warning fade show" role="alert">
                                               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                               <span th:text="${error}"></span>
                                           </div>
                                           <h1 class="h2">Restablecer contraseña</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <label>Introduzca su nueva contraseña tomando en cuenta lo siguiente:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-1">
                                            <i class="fas fa-check" style="color: green;"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <label>Debe contener al menos una mayúscula.</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-1">
                                            <i class="fas fa-check" style="color: green;"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <label>Debe contener un número (0-9).</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-1">
                                            <i class="fas fa-check" style="color: green;"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <label>Debe contener un carácter especial (! " # $ % ' ? @).</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-1">
                                            <i class="fas fa-check" style="color: green;"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <label>Debe contener un mínimo de 8 caracteres.</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-1">
                                            <i class="fas fa-check" style="color: green;"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <label>Debe contener un máximo de 12 caracteres.</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-1">
                                            <i class="fas fa-check" style="color: green;"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <label>La nueva contraseña no debe coincidir con la anterior.</label>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-sm-4">
                                            <label>Nueva contraseña: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="password" type="password" name="password"
                                                   placeholder="Nueva contraseña" onkeyup="limpiarErrores();"/>
                                            <span id="passwordError1" class="error-form" style="color: red; display: none;">La nueva contraseña debe contener al menos: una letra mayúscula, un número (0 – 9) y un carácter especial (! # $ % & ? @).</span>
                                            <span id="passwordError2" class="error-form" style="color: red; display: none">La contraseña debe tener un mínimo de 8 caracteres y un máximo de 12 caracteres.</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-sm-4">
                                            <label>Confirmar contraseña:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="passwordConfirmacion" type="password" name="passwordConfirmacion"
                                                   placeholder="Confirmar contraseña" onkeyup="onCambioBoton();"/>
                                            <span id="passwordGenerico" class="error-form" style="color: red; display: none;"></span>
                                            <span id="passwordConfirmacionError1" class="error-form" style="color: red; display: none;">Las contraseñas ingresadas no coinciden. Intente nuevamente.</span>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button id="botonSubmit" type="button" onclick="guardarPassword();" class="btn btn-lg btn-primary color-primario" disabled="true">Cambiar contraseña</button>
                                    </div>
                                    
                                    <input type="hidden" name="stCorreoElectronico" th:value="${stCorreoElectronico}" />
                                    <input type="hidden" name="stHash" th:value="${stHash}" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
<section layout:fragment="js" th:remove="tag">
     <script th:inline="javascript">
        const urlResetPassword = /*[[@{/public/usuario/password/reset/crear}]]*/"";
        const mensajeError = /*[[${error}]]*/"";
        const inline = /*[[${inline}]]*/false;
    </script>
    <script>
        $(function () {
            // se establece el error si se ha indicado como 'inline'
            if(inline) {
                $("#passwordGenerico").html(mensajeError).show();
            }
            
            // se llama al cargar por si el usuario tiene informacion guardada en el navegador
            onCambioBoton();
        });
        
        function onCambioBoton() {
            if($("#password").val() && $("#passwordConfirmacion").val()) {
                $("#botonSubmit").attr("disabled", false);
            }
            else {
                $("#botonSubmit").attr("disabled", true);
            }
        }
        
        function limpiarErrores() {
            $(".error-form").hide();
            onCambioBoton();
        }
         
        function guardarPassword() {
            limpiarErrores();
            
            var password = $("#password").val();
            var passwordConfirmacion = $("#passwordConfirmacion").val();
             
            if(validarPassword(password, passwordConfirmacion)) {
                $("#frmPassword").submit();
            }
        }
        
        function validarPassword(password, passwordConfirmacion) {
            // regex que valida que haya un caracter en mayuscula
            var regexMayuscula = /[A-Z]/;
            if(!regexMayuscula.test(password)) {
                $("#passwordError1").show();
                return false;
            }
            
            // regex que valida que haya un numero
            var regexNumero = /[0-9]/;
            if(!regexNumero.test(password)) {
                $("#passwordError1").show();
                return false;
            }
            
            /**  Regex que valida que haya un caracter especial, haciendolo al reves.
             *   Es decir, valida si todos los caracteres son letra o numero
             */
            var regexCaracterEspecial = /^([0-9]|\w)+$/;
            if(regexCaracterEspecial.test(password)) {
                $("#passwordError1").show();
                return false;
            }
            
            // valida que la longitud sea la mencionada: entre 8 y 12 caracteres
            if(!(password.length >= 8 && password.length <= 12)) {
                $("#passwordError2").show();
                return false;
            }
            
            // valido que ambos passwords coincidan
            if(password !== passwordConfirmacion) {
                $("#passwordConfirmacionError1").show();
                return false;
            }
            
            // si estoy aqui todo esta valido
            return true;
        }
         
    </script>
</section>
</body>
</html>
